body {
  font-family: sans-serif;
  background-color: #e0ffff;
  text-align: center;
}

h2 {
  padding: 10px;
  margin: 10px 20px;
  color: #4682b4;
  text-align: left;
}

button {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0px 2px;
}
button:hover {
  background-color: #00008b;
  color: #ffffff;
}

span {
  margin-right: 8px;
}

h4 {
  text-align: center;
  margin: 5px;
  font-weight: bold;
  color: #708090;
}

.list-content {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
}
